<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<head th:insert="~{sdn}">
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <a class="btn btn-primary mt-1" href="#" data-bs-toggle="modal" data-bs-target="#addFolderModal">
    Добавить папку</a>

  <!--Добавление новой категории папки-->
  <form action="/addfolder" method="post">
    <div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить папку</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Название папки</label>
              <input name="name" type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
              </button>
              <button class="btn btn-primary">Добавить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <br>
  <div th:each="folder : ${folders}">
    <div class="card mt-3">
      <div class="card-body" style="height: 100px;">
        <h3 th:text="${folder.name}"></h3>
      </div>
      <div class="card-footer">
        <a th:href="${'/folderdetails/' + folder.id}" class="btn btn-primary">Открыть папку</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>